name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        
      - name: Generate GitHub contribution snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: anestxx
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake.gif?color_snake=orange&color_dots=#a6e3a1,#94e2d5,#89b4fa&animate=true
          
      - name: Deploy to output branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
          branch: output
          clean: true
